


.carousel {
    color:white;
    background-color:black;
}

.slide {
    height:300px;
}

.carousel-caption {
  border:2px solid red;
  background-color:blue;

}

.mycaption {
    display:inline-block;
    float:right;
    max-width:300px;
    font-size:.6em;
    margin-left:12%;
    margin-right:12%;
    margin-top:28px;
    background-color:white;
    color:black;
    border-radius:4px;

}

.mycaption h3 {
    color: black;
    font-family: "Pathway Gothic One", sans-serif;
    font-weight: bold;
    letter-spacing:-.01em;
    font-size:28px;
}