.slides {
    background-color:black;
    width:100%;
    margin:auto;
    height:380px;
    margin-top:40px;
    position:relative;
    overflow: hidden;
    max-width:1000px;
    box-sizing:border-box;
}

.slide {
    background-position: 50% 50%;
    background-size:144%;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    text-align:left;
    box-sizing:border-box;
    font-size:1em;
    padding:0;
    transition:all .5s;
  
}

.caption {
    margin:auto;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    top:0;
    border-radius:0 0 10px 10px;
    max-width:80%;
    z-index: 200;
    padding-left:20px;
    padding-right:20px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom:0;
}   
.caption h1 {
    font-size:34px;
    text-transform: uppercase;
    font-family: "Pathway Gothic One", sans-serif;
    margin-bottom:0;
}

.caption p {
    font-size:17px;
    line-height:1.5em;
    margin-bottom:0;
    padding-bottom:0;
}

.slideNav {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    box-sizing: border-box;
    display:flex;
    align-items: center;
}
.arrow {
    position:absolute;
    width:40px;
    height:50px;
    align-items: center;
    opacity:.5;
    
}
.arrow img {
    width:100%;
}

.right {
    right:0;
}
.left {
    left:0;
}

.arrow:hover {
    opacity:1;
}

.jumpDots {
    width:100%;
    position: absolute;
    bottom:0px;
    height:40px;
    display:flex-box;
}
.jumpDot {
    display:inline-block;
    flex: justify-center;
    border:2px solid rgba(255,255,255,.5);
    background-color:rgba(255,255,255,.25);
    border-radius:50%;
    width:16px;
    height:16px;
    margin-left:10px;
    margin-right:10px;
}

.jumpDot.current {
    border:2px solid white;
    background-color:rgba(255,255,255,1);
}


@media only screen and (min-width:840px) {
    .slide {
        background-size:100%;
    }
    .caption {
        max-width:40%;
    }
}