html {
  margin:0;
  padding:0;
  background-color:rgb(22, 22, 41);
}

body {
  background-color:rgb(22, 22, 41);
  font-size:16px;
  margin:0; padding:0;
}


.App {
  text-align: center;
  background-color:rgb(22, 22, 41);
}

.App-logo {
  height: 300px;
  pointer-events: none;
}

.Tagline {
  padding-top:20px;
  font-family: "Amatic SC", "serif";
  font-size:38px;
  color:rgb(131, 210, 210);
}

.star {
  padding-left:2px;
  padding-right:2px;
  font-size:32px;
  position:relative;
  top:8px;
}

.logoBox {
  padding-top:30px;
  font-weight: bold;
  font-family: "Pathway Gothic One", sans-serif;
  font-size:1.8em;
  letter-spacing:.03em;
}
.halfspace {
  padding:2px;
}

.mainLinks {

  color:white;
  padding-top:30px;
}

.mainLinks a {
  color:white;
  text-decoration:none;
  font-style:italic;
  font-size:.8em;
  opacity:.5;
  padding-bottom:4px;
}

.mainLinkDivider {
  font-style:none;
  padding-left:20px;
  padding-right:20px;
  opacity:.5;
}

.mainLinks a:hover {
  opacity:1;
  border-bottom:1px solid white;
}

.join {
  background-color:rgb(17, 129, 194);
  box-sizing: border-box;
  display:inline-block;
  margin:auto;
  padding:10px 30px 10px 30px;
  border-radius:20px;
  text-transform: uppercase;
  font-size:.8em;
  margin-top:30px;
  font-weight: bold;
  letter-spacing:2px;
  font-family: "Pathway Gothic One", sans-serif;
  user-select: none;
  cursor: pointer;
  box-shadow:0 0 4px navy;
}

.join:hover {
  background-color:rgb(16, 148, 225);
}

footer {
  padding-top:20px;
  font-family: "Amatic SC", "serif";
  font-size:38px;
  font-weight: bold;

}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.Main {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image:url(./assets/images/bluestone2.jpg);
  background-size:100% 100%;
  margin:auto;
}


.App-link {
  color: #61dafb;
}

.events {
  background-color:white;
padding:0;
overflow: hidden;
  width:80%;
  margin:auto;
  margin-top:50px;
  border-radius:14px;
}



footer {
  color:rgb(46, 76, 121);
  font-weight: bold;
  font-size:44px;
  font-family: "Lato";
  font-style:italic;
  font-size:1em;
  letter-spacing:-.03em;
}


/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* IE6&7 */
}



@media only screen and (min-width:940px) {
  .Tagline {
    padding-top:20px;
    font-family: "Amatic SC", "serif";
    font-size:40px;
  
  }
  
  .star {
    padding-left:10px;
    padding-right:10px;
    font-size:40px;
    position:relative;
    top:8px;
  }
}

